@charset "UTF-8";

body {
	margin: 0;
    padding: 0;
    background: url(https://i.ibb.co/VQmtgjh/6845078.png) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}
h2 {
   color:aquamarine;
   margin-left:13%;
   margin-top:2%;
}
.container {
   background-color:black;
   margin-top:5%;
   width:50%;
   height:375px;
   margin-left:25%;
   margin-right: 25%;
}
p{
   text-align: center;
   color: white;
}
#btn {
    margin-left: 38%;
	font-weight: bold;
	margin-top: 3%;
	border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}